<!DOCTYPE html>
<html>
<head>

<body style="background-color:#c3d422;"></body>
<style>

    .myDiv {
      border: 5px outset red;
      background-color: lightblue;    
      text-align: center;
    }
</style>
</head>
<body>
 <!-- <h2><a href=C:\Users\venka\OneDrive\Desktop\MyWebPage2.html>RCB scoreboard</a></h2>
   <h2> <a href=D:\Venkatesh\html\KKR.html>KKR scoreboard</a></h2>-->

   <h2><a href=Scoreboard.html>RCB ScoreBoard</a></h2>
   
   <img src="https://images.indianexpress.com/2021/10/WhatsApp-Image-2021-10-11-at-2.57.42-PM.jpeg"width="400px" height="300px">
<div class="myDiv">
    <h3>Toss won by RCB</h3>
    <p>And They elected to bowl first.</p>
  <marquee>RCB playing 11: Duplesis,Rawat,kholi,Dk,Rutherford,Willey,Shabaz,Harshal,Hasaranga,Siraj,Akash</marquee> 
  <marquee>      KKR playing 11:Rahane,Venkatesh,Rana,Shreyas,Sam,Jackson,Russell,Narine,Umesh,Cummins
  </marquee> 
  </div>
  
  
 
  
 <!-- <center>
    <img src="D:\RCB-VS-KKR-predicted11.jpg" style="width:30%;">
  </center>-->
</body>
</html>

